#statstable{width: 100%;
	border: 1px solid green;
	max-width: 680px;}

#statstable td{text-align: center;}

.IBB {display: none;}

.BB {display: none;}

.HBP {display: none;}

.GIDP {display: none;}

.CS {display: none;}

.SF {display: none;}

#wOBA_add, #reset_form, #game_scale, #submit {
	width: 180px;
	border: 1px solid white;
	/* margin-top: 5px; */
	margin: 5px;
	display: inline-block;
	text-align: center;
	color: white;
	background-color: green;
}

#wOBA_add:hover, #reset_form:hover, #game_scale:hover, #submit:hover{
	/* color: black; */
	border: 1px solid black;
}

#wOBA_formula {display: none;}

/*
#custom{display: table;
	max-width: 600px}

.formcell {
	display: table-cell;
	width: 7%;
	margin: 2px;
}

#formhead span {
	display: table-cell;
	width: 8%;
	margin: 2px;
}
*/

#custom2 {max-width: 540px;}

/* .firstCol{width: 18%;} */

#form2 td {
	text-align: right;
	width: 7%;
}

.extra {display: none;}