<!doctype html>
<html lang="en">
	<head>
		{% if title %}
		<title>{{ title }} </title>
		{% else %}
		<title>Rotostar</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="description" content="Project for Udacity's Full Stack Program">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{
  			url_for('static', filename='jquery-1.11.2.min.js') }}">\x3C/script>')</script>
  		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<span id="home_link"><a href="/index">Rotostar Home</a></span>
		
		<span id="team_nav">
		<form id="team_sel">Team Pages:
			<select name="team">
				<option value="{{ url_for('teamPage', team_id='LAA', user_id=user_id) }}">ana</option>
				<option value="{{ url_for('teamPage', team_id='ARI', user_id=user_id) }}">ari</option>
				<option value="{{ url_for('teamPage', team_id='ATL', user_id=user_id) }}">atl</option>
				<option value="{{ url_for('teamPage', team_id='BAL', user_id=user_id) }}">bal</option>
				<option value="{{ url_for('teamPage', team_id='BOS', user_id=user_id) }}">bos</option>
				<option value="{{ url_for('teamPage', team_id='CHN', user_id=user_id) }}">chc</option>
				<option value="{{ url_for('teamPage', team_id='CIN', user_id=user_id) }}">cin</option>
				<option value="{{ url_for('teamPage', team_id='CLE', user_id=user_id) }}">cle</option>
				<option value="{{ url_for('teamPage', team_id='COL', user_id=user_id) }}">col</option>
				<option value="{{ url_for('teamPage', team_id='CHA', user_id=user_id) }}">cws</option>
				<option value="{{ url_for('teamPage', team_id='DET', user_id=user_id) }}">det</option>
				<option value="{{ url_for('teamPage', team_id='HOU', user_id=user_id) }}">hou</option>
				<option value="{{ url_for('teamPage', team_id='KCA', user_id=user_id) }}">kc</option>
				<option value="{{ url_for('teamPage', team_id='LAN', user_id=user_id) }}">la</option>
				<option value="{{ url_for('teamPage', team_id='MIA', user_id=user_id) }}">mia</option>
				<option value="{{ url_for('teamPage', team_id='MIL', user_id=user_id) }}">mil</option>
				<option value="{{ url_for('teamPage', team_id='MIN', user_id=user_id) }}">min</option>
				<option value="{{ url_for('teamPage', team_id='NYN', user_id=user_id) }}">nym</option>
				<option value="{{ url_for('teamPage', team_id='NYA', user_id=user_id) }}">nyy</option>
				<option value="{{ url_for('teamPage', team_id='OAK', user_id=user_id) }}">oak</option>
				<option value="{{ url_for('teamPage', team_id='PHI', user_id=user_id) }}">phi</option>
				<option value="{{ url_for('teamPage', team_id='PIT', user_id=user_id) }}">pit</option>
				<option value="{{ url_for('teamPage', team_id='SDN', user_id=user_id) }}">sd</option>
				<option value="{{ url_for('teamPage', team_id='SEA', user_id=user_id) }}">sea</option>
				<option value="{{ url_for('teamPage', team_id='SFN', user_id=user_id) }}">sf</option>
				<option value="{{ url_for('teamPage', team_id='SLN', user_id=user_id) }}">stl</option>
				<option value="{{ url_for('teamPage', team_id='TBA', user_id=user_id) }}">tb</option>
				<option value="{{ url_for('teamPage', team_id='TEX', user_id=user_id) }}">tex</option>
				<option value="{{ url_for('teamPage', team_id='TOR', user_id=user_id) }}">tor</option>
				<option value="{{ url_for('teamPage', team_id='WAS', user_id=user_id) }}">was</option>
			</select>
			
		</form>
		<span id="team_go" class="button">GO to Team</span>
		</span>
		<div id="login_logout">
			{% if user_id > 1 %}
				<a href="{{ url_for('disconnect')}}">Logout</a>
			{% elif user_id == 1 %}
				<a href="{{ url_for('showLogin')}}">Login</a>
			{% else %}
				login problem
			{% endif %}
		<hr>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages%}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

		{% block content %}{% endblock %}
		<script type="text/javascript">
			$('#team_go').on('click', function() {
				var team = $('#team_sel select').val();
				window.location.replace(team);
			})
		</script>
	</body>
</html>