<!doctype html>
<html lang="en">
	<head>
		{% if title %}
		<title>{{ title }} </title>
		{% else %}
		<title>Rotostar</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="description" content="Project for Udacity's Full Stack Program">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{
  			url_for('static', filename='jquery-1.11.2.min.js') }}">\x3C/script>')</script>
  		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<span id="home_link"><a href="/index">Rotostar Home</a></span>
		
		<span id="team_nav">
		<form id="team_sel">Team Pages:
			<select name="team">
				<option value="{{ url_for('teamPage', team_id='LAA') }}">ana</option>
				<option value="{{ url_for('teamPage', team_id='ARI') }}">ari</option>
				<option value="{{ url_for('teamPage', team_id='ATL') }}">atl</option>
				<option value="{{ url_for('teamPage', team_id='BAL') }}">bal</option>
				<option value="{{ url_for('teamPage', team_id='BOS') }}">bos</option>
				<option value="{{ url_for('teamPage', team_id='CHN') }}">chc</option>
				<option value="{{ url_for('teamPage', team_id='CIN') }}">cin</option>
				<option value="{{ url_for('teamPage', team_id='CLE') }}">cle</option>
				<option value="{{ url_for('teamPage', team_id='COL') }}">col</option>
				<option value="{{ url_for('teamPage', team_id='CHA') }}">cws</option>
				<option value="{{ url_for('teamPage', team_id='DET') }}">det</option>
				<option value="{{ url_for('teamPage', team_id='HOU') }}">hou</option>
				<option value="{{ url_for('teamPage', team_id='KCA') }}">kc</option>
				<option value="{{ url_for('teamPage', team_id='LAN') }}">la</option>
				<option value="{{ url_for('teamPage', team_id='MIA') }}">mia</option>
				<option value="{{ url_for('teamPage', team_id='MIL') }}">mil</option>
				<option value="{{ url_for('teamPage', team_id='MIN') }}">min</option>
				<option value="{{ url_for('teamPage', team_id='NYN') }}">nym</option>
				<option value="{{ url_for('teamPage', team_id='NYA') }}">nyy</option>
				<option value="{{ url_for('teamPage', team_id='OAK') }}">oak</option>
				<option value="{{ url_for('teamPage', team_id='PHI') }}">phi</option>
				<option value="{{ url_for('teamPage', team_id='PIT') }}">pit</option>
				<option value="{{ url_for('teamPage', team_id='SDN') }}">sd</option>
				<option value="{{ url_for('teamPage', team_id='SEA') }}">sea</option>
				<option value="{{ url_for('teamPage', team_id='SFN') }}">sf</option>
				<option value="{{ url_for('teamPage', team_id='SLN') }}">stl</option>
				<option value="{{ url_for('teamPage', team_id='TBA') }}">tb</option>
				<option value="{{ url_for('teamPage', team_id='TEX') }}">tex</option>
				<option value="{{ url_for('teamPage', team_id='TOR') }}">tor</option>
				<option value="{{ url_for('teamPage', team_id='WAS') }}">was</option>
			</select>
			
		</form>
		<span id="team_go" class="button">GO to Team</span>
		</span>
		<hr>
		{% block content %}{% endblock %}
		<script type="text/javascript">
			$('#team_go').on('click', function() {
				var team = $('#team_sel select').val();
				window.location.replace(team);
			})
		</script>
	</body>
</html>