{% extends "base2.html" %}
{% block content %}
<h1> Create New Batter </h1>
<form id="new_player" action="{{ url_for('newPlayer')}}" method='POST'>
	<div id="name_inputs">
		<input name="given" type="text" value='First Name' style="text-align:left" />
		<input name="last" type="text" value='Last Name' style="text-align:left" />
	</div>
	<div id="team_picker">
		team picker goes here
	</div>
	<div id="dob">DOB &nbsp <input name="dob" type="date" /></div>
	<div id="pos">Position here</div>
	<div id="stats15"><table>
		<tr>
			<th class='firstCol'></th>
			<th>G</th>
			<th>AB</th>
			<th>H</th>
			<th>R</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th class='extra'>CS</th>
			<th class='extra'>BB</th>
			<th class='extra'>IBB</th>
			<th class='extra'>SO</th>
			<th class='extra'>HBP</th>
			<th class='extra'>GIDP</th>
			<th class='extra'>SF</th>
			<th class='extra'>SH</th>
		</tr>
		<tr>
			<td class="firstCol">Custom2</td>
			<td><input id="Ginput" name="G" type="number" min="0" max="162"></td>
			<td><input name="AB" type="number" min="0" max="700"></td>
			<td><input name="H" type="text" maxlength="3" size="4"></td>
			<td><input name="R" type="text" maxlength="3" size="4"></td>
			<td><input name="2B" type="text" maxlength="3" size="4"></td>
			<td><input name="3B" type="text" maxlength="3" size="4"></td>
			<td><input name="HR" type="text" maxlength="3" size="4"></td>
			<td><input name="RBI" type="text" maxlength="3" size="4"></td>
			<td><input name="SB" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="CS" type="number" min="0" max="700"></td>
			<td><input class="extra" name="BB" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="IBB" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="SO" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="HBP" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="GIDP" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="SF" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="SH" type="text" maxlength="3" size="4"></td>
		</tr>
	</table></div>
	<div class="button" id="submit">SUBMIT</div>
</form>

{% endblock %}