{% extends "base2.html" %}
{% block content %}
<h1> Create New Batter </h1>
<form id="new_player" action="{{ url_for('newPlayer')}}" method='POST'>
	<div id="name_inputs">
		<input name="given" type="text" placeholder='First Name' style="text-align:left" required>
		<input name="last" type="text" placeholder='Last Name' style="text-align:left" required>
	</div>
	<div id="team_picker">Team:
		<select name="team">
			<option value="LAA">ana</option>
			<option value="ARI">ari</option>
			<option value="ATL">atl</option>
			<option value="BAL">bal</option>
			<option value="BOS">bos</option>
			<option value="CHN">chc</option>
			<option value="CIN">cin</option>
			<option value="CLE">cle</option>
			<option value="COL">col</option>
			<option value="CHA">cws</option>
			<option value="DET">det</option>
			<option value="HOU">hou</option>
			<option value="KCA">kc</option>
			<option value="LAN">la</option>
			<option value="MIA">mia</option>
			<option value="MIL">mil</option>
			<option value="MIN">min</option>
			<option value="NYN">nym</option>
			<option value="NYA">nyy</option>
			<option value="OAK">oak</option>
			<option value="PHI">phi</option>
			<option value="PIT">pit</option>
			<option value="SDN">sd</option>
			<option value="SEA">sea</option>
			<option value="SFN">sf</option>
			<option value="SLN">stl</option>
			<option value="TBA">tb</option>
			<option value="TEX">tex</option>
			<option value="TOR">tor</option>
			<option value="WAS">was</option>
		</select>
		
		<input id="team_hidden" name="teamID" type="text" required>
	
	</div>
	<div id="dob">DOB &nbsp <input name="dob" type="date" required>Age:
		<span id="age"></span>
		
		<span id="hidden_age"><input name="age" type="number" required></span>

	</div>
	<div id="pos">Positon
		<select name="position">
			<option value="C">C</option>
			<option value="1B">1B</option>
			<option value="2B">2B</option>
			<option value="3B">3B</option>
			<option value="SS">SS</option>
			<option value="RF">RF</option>
			<option value="CF">CF</option>
			<option value="LF">LF</option>
			<option value="DH">DH</option>
		</select>
		
		<input id="pos_hidden" name="position" type="text" required>
	
	</div>
	<div id="stats15"><table>
		<tr>
			<th class='firstCol'></th>
			<th>G</th>
			<th>AB</th>
			<th>H</th>
			<th>R</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th class='extra'>CS</th>
			<th class='extra'>BB</th>
			<th class='extra'>IBB</th>
			<th class='extra'>SO</th>
			<th class='extra'>HBP</th>
			<th class='extra'>GIDP</th>
			<th class='extra'>SF</th>
			<th class='extra'>SH</th>
		</tr>
		<tr id="datums">
			<td class="firstCol">projection</td>
			<td><input id="Ginput" name="G" type="number" min="0" max="162" required></td>
			<td><input name="AB" type="number" min="0" max="700" required></td>
			<td><input name="H" type="text" maxlength="3" size="4" required></td>
			<td><input name="R" type="text" maxlength="3" size="4" required></td>
			<td><input name="2B" type="text" maxlength="3" size="4" required></td>
			<td><input name="3B" type="text" maxlength="3" size="4" required></td>
			<td><input name="HR" type="text" maxlength="3" size="4" required></td>
			<td><input name="RBI" type="text" maxlength="3" size="4" required></td>
			<td><input name="SB" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="CS" type="number" min="0" max="700" required></td>
			<td><input class="extra" name="BB" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="IBB" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="SO" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="HBP" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="GIDP" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="SF" type="text" maxlength="3" size="4" required></td>
			<td><input class="extra" name="SH" type="text" maxlength="3" size="4" required></td>
		</tr>
	</table>
	</div>
	<div class="button" id="avg2014">Use MLB avg</div>
	<div class="button" id="plus_10">Plus 10%</div>
	<div class="button" id="minus_10">Minus 10%</div>
	<br/>
	<div class="button" id="all_fields">Show/Hide extra stats</div>
	<div class="button" id="game_scale">Scale to G</div>
	<div class="button" id="half_and_half">0.5*MLB avg, 0.5*2015</div>
	<br/>
	
	<div class="button" id="submit">SUBMIT</div>
	<!--
	<input type="submit" value="do submit">
	-->
</form>
<div id="notes">
	<p>plus 10% may represent a decent trade</p>
	<p>minus 10% for a AAA scrub filler</p>
</div>
<script src="/static/new_batter.js" type='text/javascript'></script>

{% endblock %}