{% extends "base_player.html" %}
{% block content %}
{{ super() }}
<div class="button" id="wOBA_add">Add wOBA</div>

<div id = "custom2">
<form id="form2" action="{{ url_for('EditPlayer', playerID=player_data.lahmanID, user_id=user_id )}}" method='POST'>
	<table>
		<tr>
			<th class='firstCol'></th>
			<th>G</th>
			<th>AB</th>
			<th>H</th>
			<th>R</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th class='extra'>CS</th>
			<th class='extra'>BB</th>
			<th class='extra'>IBB</th>
			<th class='extra'>SO</th>
			<th class='extra'>HBP</th>
			<th class='extra'>GIDP</th>
			<th class='extra'>SF</th>
			<th class='extra'>SH</th>
		</tr>
		<tr>
			<td class="firstCol">Custom2</td>
			<td><input id="Ginput" name="G" type="number" min="0" max="162"></td>
			<td><input name="AB" type="number" min="0" max="700"></td>
			<td><input name="H" type="text" maxlength="3" size="4"></td>
			<td><input name="R" type="text" maxlength="3" size="4"></td>
			<td><input name="2B" type="text" maxlength="3" size="4"></td>
			<td><input name="3B" type="text" maxlength="3" size="4"></td>
			<td><input name="HR" type="text" maxlength="3" size="4"></td>
			<td><input name="RBI" type="text" maxlength="3" size="4"></td>
			<td><input name="SB" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="CS" type="number" min="0" max="700"></td>
			<td><input class="extra" name="BB" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="IBB" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="SO" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="HBP" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="GIDP" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="SF" type="text" maxlength="3" size="4"></td>
			<td><input class="extra" name="SH" type="text" maxlength="3" size="4"></td>
		</tr>
	</table>
</form>
</div>
<div class="button" id="reset_form">Reset to projected 2015</div>
<div class="button" id="game_scale">Scale to G</div>
<div class="button" id="submit">SUBMIT</div>
<div class="button" id="verify_del"><a href="{{ url_for('deletePlayer', playerID=player_data.lahmanID) }}"> Delete</a></div>

<p id="wOBA_formula">wOBA formula:  wOBA = (.689*uBB + .722*HBP + .892*1B + 1.283*2B + 1.635*3B + 2.135*HR) / (AB + BB - IBB + SF + HBP)</p>

<script src="/static/dostuff.js" type='text/javascript'></script>
{% endblock %}

