{% extends "base2.html" %}
{% block content %}
<form id="team_form">
<table id="teamtable">
	<thead>
	<tr>
		<th class="fullname">Name</th>
		<th class="POS">POS</th>
		<th class="Year">Year</th>
		<th class="G">G</th>
		<th class="AB">AB</th>
		<th class="H">H</th>
		<th class="R">R</th>
		<th class="2B">2B</th>
		<th class="3B">3B</th>
		<th class="HR">HR</th>
		<th class="RBI">RBI</th>
		<th class="SB">SB</th>
		<th class="CS">CS</th>
		<th class="IBB">IBB</th>
		<th class="BB">BB</th>
		<th class="HBP">HBP</th>
		<th class="SF">SF</th>
		<th class="GIDP">GIDP</th>
		<th class="SO">SO</th>
		<th class="SH">SH</th>
	</tr>
	</thead>
	<tbody>
{% for entry in team_data %}
<tr class="y{{ entry.Batting.yearID }}">
	<td class="fullname"><a href="{{ url_for('EditPlayer', playerID=entry.Player.lahmanID)}}"> {{ entry.Player.name }} </a></td>
	<td class="POS">{{ entry.Player.pos }} </td>
	<td class="Year">{{ entry.Batting.yearID }} </td>
	<td class="G"><input name="G" type ="number" min="0" max="162" disabled value="{{ entry.Batting.G }}"></td>
	<td class="AB"><input name="AB" type="number" min="0" max="700" disabled value="{{ entry.Batting.AB }}"></td>
	<td class="H"><input name="H" type="number" min="0" max="300" disabled value="{{ entry.Batting.H }}"></td>
	<td class="R"><input name="R" type="number" min="0" max="150" disabled value="{{ entry.Batting.R }}"></td>
	<td class="2B"><input name="2B" type="number" min="0" max="100" disabled value="{{ entry.Batting.doubles }}"></td>
	<td class="3B"><input name="3B" type="number" min="0" max="50" disabled value="{{ entry.Batting.triples }}"></td>
	<td class="HR"><input name="HR" type="number" min="0" max="100" disabled value="{{ entry.Batting.HR }}"></td>
	<td class="RBI"><input name="RBI" type="number" min="0" max="200" disabled value="{{ entry.Batting.RBI }}"></td>
	<td class="SB"><input name="SB" type="number" min="0" max="150" disabled value="{{ entry.Batting.SB }}"></td>
	<td class="CS"><input name="CS" type="number" min="0" max="100" disabled value="{{ entry.Batting.CS }}"></td>
	<td class="IBB"><input name="IBB" type="number" min="0" max="150" disabled value="{{ entry.Batting.IBB}}"></td>
	<td class="BB"><input name="BB" type="number" min="0" max="150" disabled value="{{ entry.Batting.BB  }}"></td>
	<td class="HBP"><input name="HBP" type="number" min="0" max="50" disabled value="{{ entry.Batting.HBP  }}"></td>
	<td class="SF"><input name="SF" type="number" min="0" max="100" disabled value="{{ entry.Batting.SF  }}"></td>
	<td class="GIDP"><input name="GIDP" type="number" min="0" max="100" disabled value="{{ entry.Batting.GIDP  }}"></td>
	<td class="SO"><input name="SO" type="number" min="0" max="300" disabled value="{{ entry.Batting.SO  }}"></td>
	<td class="SH"><input name="SH" type="number" min="0" max="100" disabled value="{{ entry.Batting.SH  }}"></td>
{% endfor %}
	</tbody>
</table>
<div class="button" id="ab_scale">Scale to AB</div>
<div class="button" id="reset">RESET</div>
<div class="button" id="submit">SUBMIT</div>
<script src="/static/teamEdit.js" type='text/javascript'></script>
<!--
<script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
-->
{% endblock %}